body {
  margin: 0;
  height: 10000px;
  background: black;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 10;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
